{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Список задач {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
</head>
<body>
    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url "list-lists" %}">To-D0 list</a></li>
            {% block menu %}{% endblock %}
        </ul>
    </nav>

    <div class="container">
        <h1>{% block page_header %}Dreams come true{% endblock page_header %}</h1>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>