
{% extends 'base.html' %}
{% block menu %}<li><a href="{% url "list-add" %}">To-Do list</a></li>{% endblock menu %}
{% block page_header %}Task list{% endblock page_header %}
{% block content %}
    {% if not lists %}
        <h2>No To-Do List</h2>
    {% endif %}

    {% for list in lists %}
         <a href="{% url "list-view" list.pk %}">{{ list.describe}}</a>
        <br/>

    {% endfor %}
        <br/>

{#<a href="/lists/add"> Create To-Do list</a>#}
    <a href="{% url "list-add" %}"> Create To-Do<a/>
{% endblock content %}