{% extends "base.html" %}
{% block menu %}
    <li><a href="{% url "list-add" %}">Create To-Do list</a></li>
    <li><a href="{% url "list-update" list.id %}">Редактировать статью</a></li>
{% endblock menu %}
{% block page_header %}Description of To-Do list: {{ list.id }}{% endblock page_header %}
{% block content %}

    <h1>List {{ list.id }}</h1>
    <p>Status: {{ list.get_status_display }}</p>
    <p>Describe: {{ list.describe }}</p>
    <p>Detailed Description: {{ list.description }}</p>
    <p>To-Do Date: {{ list.date_of_completion }}</p>

{% endblock content %}